@font-face {
font-family: 'Myriad Pro Regular';
src:
url('../fonts/MYRIADPRO-REGULAR.woff') format('woff'),
url('../fonts/MYRIADPRO-REGULAR.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}