
@media screen and ( max-width: 1200px )
  html
    font-size: 12px

@media screen and ( max-width: 992px )
  html
    font-size: 10px

// HEADER  ////////////////////////////////////////////////////////////////  

@media screen and ( max-width: 830px )

  .menu__nav
    display: none

  .logo
    margin: auto
    margin-bottom: 2rem

// HERO  ////////////////////////////////////////////////////////////////  

@media screen and ( max-width: 992px )

  .hero
    &__video-text
      display: none

@media screen and ( max-width: 830px )

  .hero
    &__video
      min-height: 26.14rem
      max-width: 52rem
    &__content
      text-align: center
      margin: auto
      margin-bottom: 8rem
    &__subtitle
      margin: auto
      margin-bottom: 2rem

@media screen and ( max-width: 576px )

  .hero
    &__video
      min-height: 200px

@media screen and ( max-width: 375px )

  .hero
    &__video
      min-height: 170px

// PLACES  ////////////////////////////////////////////////////////////////  

@media screen and ( max-width: 992px )
  .places
    &__row
      flex-direction: column
      align-items: center
    &__text
      max-width: 438px
      justify-content: center
    &__span
      display: flex
      justify-content: center
    &__text-camera
      justify-content: center
      margin-bottom: 4rem

@media screen and ( max-width: 830px )
  .places
    padding-top: 9rem

@media screen and ( max-width: 576px )
  .places
    padding-bottom: 9rem
    &__text
      max-width: 438px
      justify-content: center
    &__main-text
      text-align: center
      margin: 0 1rem

    &__text-camera
      justify-content: center
      margin-bottom: 4rem

// ABOUT  ////////////////////////////////////////////////////////////////  

@media screen and ( min-width: 992px )
  .about
    padding-right: 2rem
    padding-left: 2rem

@media screen and ( max-width: 992px )

  .about
    &__text
      width: 19.71rem

@media screen and ( max-width: 850px )
  .about
    &__main
      margin-left: 2rem

@media screen and ( max-width: 750px )
  .about
    padding-bottom: 6rem
    &__main
      flex-direction: column
      align-items: center
    &__info
      text-align: center
      margin: 0
      max-width: 26rem
    &__text
      text-align: center
      width: auto

@media screen and ( max-width: 550px )

  .about__swiper-container
    max-width: 40rem

@media screen and ( max-width: 475px )

  .about__swiper-container
    max-width: 30rem

// AUTO ////////////////////////////////////////////////////////////////  

@media screen and ( max-width: 992px )

  .column3
    &__options
      &-icons
        margin: auto 5px

@media screen and ( max-width: 750px )

  .auto
    padding-bottom: 4rem
    padding-top: 4rem
    &__row
      flex-direction: column
      align-items: center
      text-align: center
    &__column1
      align-items: center
  .column2
    &__paper
      margin: auto
      margin-bottom: 2rem
    &__power
      text-align: center
    &__fuel-name
      margin-right: 1rem
  .column3
    &__heart
      margin: auto
      margin-bottom: 3rem
      text-align: center
    &__text
      text-align: center
      margin: auto 25px

@media screen and ( max-width: 750px )

  .auto
    background: url(../img/screen.png) no-repeat center

// CLIENTS  ////////////////////////////////////////////////////////////////

@media screen and ( max-width: 992px )
  .clients
    &__row
      padding-left: 2rem

@media screen and ( max-width: 750px )
  .clients
    padding-bottom: 0
    padding-top: 4rem
    &__row
      flex-direction: column
      align-items: center
      text-align: center
    &__card
      margin-bottom: 4rem
    &__subtitle
      margin-bottom: 6rem

// ORDER  ////////////////////////////////////////////////////////////////

@media screen and ( min-width: 992px )
  .order
    padding-right: 2rem
    padding-left: 2rem

@media screen and ( max-width: 992px )

  .order
    &__row
      flex-direction: column
      align-items: center
    &__title
      max-width: 32rem
      margin-bottom: 5rem
    &__rent
      order: 1
    &__days
      order: 3
    &__price
      order: 2
      margin-bottom: 5rem

@media screen and ( max-width: 750px )

  .order
    padding-top: 4rem
    &__line
      display: none

@media screen and ( max-width: 420px )

  .order
    &__title
      max-width: 22rem
      text-align: center
      margin-bottom: 5rem

// FOOTER   ////////////////////////////////////////////////////////////////

@media screen and ( min-width: 992px )
  .footer
    padding-right: 2rem
    padding-left: 2rem
    &__questions
      height: 190px

@media screen and ( min-width: 1200px )
  .footer
    &__questions
      height: 215px

@media screen and ( max-width: 1200px )

  .footer
    &__info-contacts
      max-width: 30rem

@media screen and ( max-width: 992px )

  .footer
    padding-right: 2rem
    padding-left: 2rem
    &__row
      flex-direction: column-reverse
      align-items: center
    &__questions
      width: 535px
    &__info-contacts
      display: flex
      justify-content: space-between
    &__contacts
      &-email, &-agreement, &-conditions
        &:hover
          color: #777
          text-decoration: none
    &__vk, &__whatsup, &__mail, &__yt
      &-hover
        &:hover
          background: none

@media screen and ( max-width: 576px )

  .footer
    &__row
      flex-direction: column-reverse
      align-items: center
    &__questions
      padding: 26px 8rem
      margin-top: 3.5rem
      background: none
    &__info-contacts
      display: flex
      // padding: 0 11rem
      // justify-content: space-between
    &__social
      display: flex
      flex-direction: column
      align-items: center
    &__vk-hover
      width: 40px
      height: 40px
    &__yt-hover
      width: 40px
      height: 40px
    &__whatsup-hover
      width: 40px
      height: 40px
    &__mail-hover
      width: 40px
      height: 40px
    &__info
      margin-right: 5.35rem

  // HOVERS OFF

@media screen and ( max-width: 992px )

  .nav
    &__item
      &:hover
        border-bottom: none

  .order
    &__button
      &:hover
        background-color: #ff6600
    &__promo
      &:hover
        color: #777
