.about
  background: #f7f4f2
  padding-bottom: 14.14rem
  padding-top: 14.14rem
  &__main
    display: flex
    justify-content: space-between
  &__info
    max-width: 21.71rem
    margin-left: 10.35rem
  &__title
    font-size: 2.6rem
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    margin: 0
    margin-bottom: 8rem
  &__subtitle
    font-size: 1.5rem
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    margin-bottom: 3.57
  &__text
    line-height: 1.6rem

    &-low
      color: #777
      font-size: 11px
  &__swiper-container
    max-width: 50.28rem
    max-height: 31rem
  &__swiper-slide
    max-width: 100%
  &__swiper-pagination
    padding-right: 26rem
    margin-bottom: -2rem
  &__swiper-pagination-current
    font-size: 24px
    margin-right: 36px
  &__swiper-pagination-slash
    font-size: 24px
    margin-right:
  &__swiper-pagination-total
    font-size: 13px
    color: #777
    margin-left: 20px
  &__swiper
    &-button
      &-prev
        background: url('../img/about/arrow-prev.svg') no-repeat center
        background-size: 54px
        width: 54px
        height: 54px
        &::after
          display: none
      &-next
        background: url('../img/about/arrow-next.svg') no-repeat center
        background-size: 54px
        width: 54px
        height: 54px
        &::after
          display: none
