.auto
  color: white
  min-height: 69.35
  padding-top: 14.35rem
  padding-bottom: 7.71rem
  background: #262626 url('../img/auto/auto3.png') no-repeat center
  &__row
    display: flex
  &__title
    font-size: 3rem
    margin: 0
  &__subtitle
    margin-bottom: 5.85rem
  &__column1
    max-width: 16.65rem
    display: flex
    flex-direction: column
    text-align: center
  &__transmition
    display: flex
    justify-content: space-around
    width: 233px
    height: 207px
    margin-bottom: 3.21rem
    background: url('../img/auto/auto1.png') no-repeat center
  &__mileage
    display: flex
    justify-content: space-around
    width: 233px
    height: 207px
    background: url('../img/auto/auto2.png') no-repeat center

.transmition
  &__left
  &__right
    display: flex
    flex-direction: column
    justify-content: center
  &__text
    width: 53px
  &__icon
    width: 26px
    height: 29px

.mileage
  &__left
  &__right
    display: flex
    flex-direction: column
    justify-content: center
  &__text
    width: 53px
  &__icon
    width: 29px
    height: 23px
