.clients
  background-color: white
  padding-top: 10.35rem
  padding-bottom: 11.14rem
  &__info
    text-align: center
  &__title
    font-size: 2.6rem
    font-weight: 400
    margin: 0
    color: #000
  &__subtitle
    color: #777
    font-size: 1rem
    margin-bottom: 10.8rem
    font-weight: 400
  &__row
    display: flex
    justify-content: space-around
  &__card
    display: flex
    flex-direction: column
    max-width: 197px
    position: relative
  &-images1
    margin: -28px
  &__name1
    font-weight: 400
    margin-top: 69px
    margin-bottom: 0
  &__text1
    color: #777
    max-width: 152px
    line-height: 23px
  &__cloud1
    position: absolute
    margin: 41px -46px

  &-images2
    margin: -28px
  &__name2
    font-weight: 400
    margin-top: 69px
    margin-bottom: 0
  &__text2
    color: #777
    max-width: 152px
    line-height: 23px
  &__cloud2
    position: absolute
    margin: 41px -46px

  &-images3
    margin: -28px
  &__name3
    font-weight: 400
    margin-top: 69px
    margin-bottom: 0
  &__text3
    color: #777
    max-width: 152px
    line-height: 23px
  &__cloud3
    position: absolute
    margin: 41px -46px

  &-images4
    margin: -28px
  &__name4
    font-weight: 400
    margin-top: 69px
    margin-bottom: 0
  &__text4
    color: #777
    max-width: 152px
    line-height: 23px
  &__cloud4
    position: absolute
    margin: 41px -46px
