.header
  width: 100%
  color: white
  &__menu
    padding: 5.14rem 1.5rem 0 6.92rem
    margin-bottom: 1.78rem

.menu
  display: flex
  justify-content: space-between
  &__nav
    padding: 1.42rem 0

.logo
  display: flex
  justify-content: space-between
  cursor: pointer
  &__image
    height: 3.8rem
    width: 3.8rem
    margin-right: 1.57rem
  &__title
    font-size: 2.4rem
    text-decoration: none
    color: white
    font-weight: 400
  &__subtitle
    color: #ddd
    display: block
    font-size: 1rem

.nav
  &__item
    text-decoration: none
    font-family: 'Open Sans', sans-serif
    color: #ddd
    margin-right: 3.7rem
    font-size: 1.14rem
    padding-bottom: 5px
    &:hover
      border-bottom: 2px solid white
