.hero
  background: black url('../img/main-image.jpg') no-repeat center / cover
  height: 100vh
  min-height: 71.4rem
  color: white
  position: relative
  &__content
    max-width: 31.85rem
    margin-left: 4.28rem
  &__title
    font-size: 5.5rem
    line-height: 5.14rem
    margin: 2.42rem 1.42rem 1.35rem 1.42rem
  &__subtitle
    color: #ddd
    font-size: 1.78rem
    margin: 13px 17px 18.28rem 17px
    max-width: 19.21rem
  &__video
    position: relative
    display: flex
    background: url('../img/main-video.png') no-repeat center / cover
    max-width: 71.64rem
    min-height: 36.14rem
    margin: auto
  &__play
    margin: auto
    cursor: pointer
  &__video-text
    position: absolute
    top: 3.92rem
    left: -3.92rem
  &__video-title
    font-size: 2.57rem
    color: white
    letter-spacing: 1.2px
  &__video-subtitle
    font-size: 1.07rem
    color: #ddd
