.places
  background: #f7f4f2
  // padding-bottom: 50rem

  &__video
    // margin-top: -18rem
    // position: absolute
    display: flex
    margin: auto
    max-width: 64.28rem
    min-height: 36.21rem
    background: black url('../img/main-video.png') no-repeat center
  &__play
    margin: auto
    position: relative
