.places
  background: #f7f4f2
  padding-bottom: 70rem

  &__video
    // position: absolute
    // margin-top: -23rem
    // margin-left: 36rem
    display: flex
    // min-width: 64.28rem
    min-height: 36.21rem
    background: black url('../img/main-video.png') no-repeat center
  &__play
    margin: auto
    position: relative
  &__title
    font-size: 2.4rem
    text-decoration: none
    color: white
    font-weight: 400
  &__subtitle
    font-size: 1rem
    color: #ddd
